//  base styles
// - typography
// - links
// - utility classes
// - components, e.g. calendar


// ––––––––––––––––––––––––––––––––––––––––––––––––––
// typography
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em; // currently ems cause chrome bug misinterpreting rems on body element
    font-size : 1.6rem;
    line-height: 1.4;
    font-weight: $normal;
    font-family: $font-main;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: $bold;
    line-height: 1.6;
}
h1 {
    font-size: 2.8rem;
    letter-spacing: 0.02rem;
}
h2 {
    font-size: 2.6rem;
    letter-spacing: 0.03rem;
}
h3 {
    font-size: 2.4rem;
    letter-spacing: 0.04rem;
}
h4 {
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
}
h5 {
    font-size: 1.8rem;
    letter-spacing: 0.06rem;
}
h6 {
    font-size: 1.5rem;
    letter-spacing: 0.07rem;
}
p { margin: 0; }
em { font-style:italic; }


@media (min-width: 550px) {
    font-size : 1.8rem;
    line-height: 1.6;
}

// make text larger for larger screens
@media (min-width: 660px) {
    body { font-size: 1.9rem; }
    // h1 { font-size: 3.6rem; }
    // h2 { font-size: 3.0rem; }
    // h3 { font-size: 2.7rem; }
    // h4 { font-size: 2.4rem; }
}


// Links
a {
    color : $blue;
    outline : 0 none;
    text-decoration : none;
    transition : all 0.3s ease-in-out 0s;
    // word-break: break-all; // break long links (e.g. urls) onto 2 lines. See disclaimer sections.
    &:hover {
        color : $blue_dark;
    }
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––
// utility classes
.hidden {
    display : none !important;
}
.no-pointers {
    pointer-events : none !important;
}

// view mechanics
.slide-left {
    transform : translateX(-33.33333%);
    // transform : translateX(-50%);
}
.slide-left-again {
    transform : translateX(-66.66666%);
}

// remove list item shadow - this is visible when view class is applied
.suggestions.shadow-off li,
.favourites.shadow-off li,
.memorable.shadow-off li,
.climb-info.shadow-off,
.climb-info.shadow-off li {
    box-shadow : none;
}
.fixed {
    overflow-y : hidden;
}


// content
.no-notes {
    color : $grey_d;
}
.no-results {
    color : $red;
}
.hl {
    background-color : $yellow; // highlights
}
.margin-left {
    margin-left : 5px;
}
.not-set {
    filter : grayscale(50%); // calendar items
    // filter : sepia(50%);
}




// colours
.green {
    color : $green;
}
.blue {
    color : $blue;
}
.red {
    color : $red;
}
.yellow {
    color : $yellow; // highlights
}
.grey {
    color : $grey_d;
}
.black {
    color : $black;
}





// ––––––––––––––––––––––––––––––––––––––––––––––––––
// components

// calendar - within .date
// - can be used in both lists, needs to be independent
.calendar {
    display : flex;
    flex-direction: column;
    text-align : center;
    transform : rotate(-3.5deg);
    // month, day, year
    > span {
        padding : 3px 2px;
        transition : all .5s;
        &:hover {
            transform : scale(1.35) rotate(3.5deg);
            font-size : 100%;
        }
        // spread parts out
        &:hover + span {
            transform : translateY(15px);
        }
        &:hover + span + span {
            transform : translateY(30px);
        }
    }
}
// month, day, year
.month {
    background-color : $red;
    color : $white;
    font-size : 1rem;
}
.day {
    background-color : $white;
    font-size : 1.5rem;
}
.year {
    background-color : $grey_d;
    font-size : 1rem;
}