// Grid
// - general layout at different sizes
// - modified, uses flexbox



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// container
.container {
    position: relative;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    
    // flexbox part
    z-index : 2;
    display : flex;
    align-items : center;
    // fix flex - can't deal with after
    &::after{
      content : none;
      display : none;
    }
  
    // center and right align
    &.center {
      justify-content : center;
    }
    &.right {
      justify-content : flex-end;
    }
    // middle (column stack): middle justify and center text align
    &.middle {
      flex-direction : column;
      text-align : center;
    }
  
    // container width media queries
    @media (min-width: 400px) {
      width: 95%;
      padding: 0;
    }
    @media (min-width: 480px) {
      width: 90%;
    }
  



    // 2 column containers: overview and stages
    &:not(.middle) {
      // padding: 110px 20px 0; // allow space for header
      // padding: 0 20px;
      align-items : flex-end;
      flex-direction : column-reverse;
  
      @media (min-width: 660px) {
        // padding : 0;
        align-items : center;
        flex-direction : row;
      }
  
    }
  
    
  }
  
  
  
  // ––––––––––––––––––––––––––––––––––––––––––––––––––
  // columns
  .column,
  .columns {
    width: 100%;
    box-sizing: border-box;
  
    // columns media queries - general
    @media (min-width: 660px) { // was 480
      margin-left: 4%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  
  // columns media queries - specific
  .columns {
    // @media (min-width: 480px) {
    //   &.six {
    //     width: 65.3333333333%;
    //   }
    // }
    @media (min-width: 660px) {
      &.six {
        width: 68%;
      }
    }
    @media (min-width: 768px) {
      &.six {
        width: 48%;
      }
    }
  }