// main logbook css

html {
    background : $yellow;
}



// main form
.search-form {
    @media (min-width: 550px) {
        max-width : 400px;
        margin : 20px auto;
    }
}


// searchbar
input {
    width : 100%;
    padding : 15px;

    &.search {
        margin : 0 auto;
        display : block;
        width : 95vw;
        text-align : center;
        outline : 0;
        border : 10px solid $grey_a;
        position : relative;
        top : 10px;
        z-index : 2;
        border-radius : 5px;
        font-size : 3rem;
        font-weight : 400;
        box-shadow : $box_inset;
        transition : 1s; // slide searchbar down on view change
        @media (min-width: 550px) {
            margin : 0;
            width : 120%;
            left : -10%;
            font-size : 4rem;
        }
    }

    &:disabled {
        color : $grey_d;
        background-color : $grey_c;
    }
}


// view mechanics
.viewbox {
    overflow : hidden;
    max-width : 90vw;
    margin : 0 auto;
    @media (min-width: 550px) {
        max-width : 100%;
    }
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––
// lists


// ul container
.list-container {
    display : flex;
    flex-direction : row;
    width : 270vw;//180vw
    transition : 0.5s;
    @media (min-width: 550px) {
        width : 1200px;//800px
    }
}


// uls + buttons
// - simplify this
.savedBtns,
.list-container > ul {
    width : 100%;
    max-width : 90vw;
    margin : 10px 0 0;
    padding : 0;
    position : relative;
    @media (min-width: 550px) {
        max-width : 400px;
    }
}






// ––––––––––––––––––––––––––––––––––––––––––––––––––
// list items

// basic list item - suggestions
.suggestions li {
    @include listItem(15px 20px);
}

// regular list item - searched
li.searched {
    @include listItem(0);
    cursor : pointer;
    transition : linear-gradient 0.5s;
    > span {
        pointer-events : none;
        padding : 20px 10px;
        &.date,
        &.more {
            display : flex;
            align-items : center;
            justify-content : center;
        }
        &.date {
            width : 25%;
            flex-basis : 25%;
            background : $grey_c;
            color : $black;
            font-size : 1.5rem;
        }
        &.name,
        &.memorable-notes {
            flex-basis : 65%;
        }
        // right chevron
        &.more {
            flex-basis : 10%;
            .fa {
                transition : translateX 0.5s;
            }
        }
        // favourite: repeat note
        &.repeat-note {
            color : $white;
            background-color : $red; // blue
            flex-grow : 1;
            padding : 8px;
            text-align : center;
            font-size : 1.4rem;
            @media (min-width: 550px) {
                font-size : 1.6rem;
            }
            .fa {
                margin-right : 10px;
            }
        }
    }
    // favourites: repeat ascent
    &.repeat {
        background : $red_lighter;
        border-bottom : none;
        .date {
            background : $red_light;
        }
        &:hover {
            background : $grad_red;
        }
    }
    // hover
    &:hover {
        background : $grad_hover;
        // right chevron
        .more .fa {
            transform : translateX(5px);
        }
    }
}





















// ––––––––––––––––––––––––––––––––––––––––––––––––––
// climb info - ul
// - info on individual ascents
// - also info on memorable days (contains li.searched items in this case)

// ul
.climb-info {
    align-self : flex-start;
    background : $white;
    list-style : none;
    box-shadow : $box_reg;
}


// list items - each data property
.climb-info li {
    list-style : none;
    display : flex;
    align-items : stretch;
    position : relative;

    // left column: grey back button
    .back-to-matches {
        display : flex;
        justify-content : center;
        width : 25%;
        flex-basis : 25%;
        position : relative;
        padding : 10px;
        background : $grey_c;
        color : $black;
        font-size : 1.5rem;
        cursor : pointer;
        pointer-events : all;
        overflow : hidden; // contain calendar
        .fa {
            position : absolute;
            top : calc(50% - 10px);
            left : calc(50% - 10px);
            pointer-events : none;
        }
        // calendar container
        .date {
            width : 100%;
            pointer-events : none;
        }
    }

    // right column: details
    .climb-details {
        display : flex;
        flex-basis : 75%;
        flex-direction : column;
        padding : 10px;
        @media (min-width: 550px) {
            padding : 20px;
        }
        // icons
        .grade,
        .discipline,
        .style,
        .partners,
        .notes,
        .crag,
        // memorable day only
        .routes {
            .fa:first-child {
                margin-right : 10px;
                width : 15px;
            }
        }
        // routes - memorable view only
        .routes {
            margin-top : 20px;
            padding-top : 10px;
            border-top : 2px solid;
            cursor : pointer;
            z-index : 1;
            .fa {
                pointer-events : none; // only parent can be clicked
            }
        }
    }







    // ____________________
    // .climb-details elements
    .title {
        font-size : 2rem;
        text-align : center;
        margin-bottom : 10px;
        padding-bottom : 10px;
        border-bottom : 2px solid;
        @media (min-width: 550px) {
            font-size : 2.5rem;
        }
    }
    .crag { margin-top : 10px;}


    // to be changed: only add overflow class if overflows x px
    .notes {
        margin : 10px 0;
        padding : 10px 0;
        border-top : 2px solid;
        border-bottom : 2px solid;

        font-size : 1.4rem;
        max-height : 150px;
        overflow-y : scroll;
        position : relative;
        @media (min-width: 550px) {
            font-size : 1.6rem;
        }
        .fa {
            font-size : 1.6rem;
        }

        // for when it overflows:
        &.overflow {
            overflow-y : auto;
            max-height : 100%;
            padding-bottom : 0;
            > .fa {
                position : absolute;
                top : 10px;
                background : $white;
                width : 25px;
                height : 25px;
                border-bottom-right-radius : 20px;
            }
            > div {
                overflow-y : scroll;
                max-height : 150px;
                text-indent : 25px;
                padding-bottom : 25px;
            }
            > .fade-out {
                position : absolute;
                bottom : 0;
                left : 0;
                right : 0;
                display : flex;
                justify-content : center;
                align-items : center;
                height : 30px;
                > .fa {
                    margin-right : 0;
                    text-indent : 0;
                    position : absolute;
                    bottom : 0;
                    text-align : center;
                    width : 50px;
                    height : 25px;
                    padding-top : 5px;
                    border-radius : 25px 25px 0 0;
                    background : rgba($black, 0.5);
                    color : $white;
                }
            }
        } // end overflow
    }

}











// _______________________________
// save icon / container
// - direct parent: climb-details
.save {
    // contracted: icon
    position : absolute;
    right : 0;
    bottom : 0;
    width : 36px;
    height : 36px;
    border-radius : 18px 0 0 0;
    line-height : 1;
    background : $blue_dark; 
    cursor : pointer;
    transition : all 1s;
    z-index : 1;
    overflow : hidden;
    > .fa {
        color : $white;
        width : 18px;
        height : 18px;
        pointer-events : none;
        position : absolute;
        top : 10px;
        left : 10px;
        transition : all 1s;
    }
    &:hover {
        background : $blue;
    }

    // expanded: container
    &.expanded {
        display : flex;
        flex-direction : row;
        width : 100%;
        height : 100%;
        border-radius : 0;
        cursor : default;
        pointer-events : none;
        z-index : 2;
        transition : all 1s;
        // left column: icon
        > .fa {
            cursor : pointer;
            pointer-events : all;
            position : relative;
            display : flex;
            flex-basis : 25%;
            align-items : center;
            justify-content : center;
            top : 0;
            left : 0;
            width : 100%;
            height : 100%;
        }
        &:hover {
            background : $blue_dark;
        }
    }

    // right column: .climb-settings
    // - contains favourite and memorable
    .climb-settings {
        padding : 20px;
        flex-basis : 75%;
        align-items : center;
        transform : translateY(100%);
        transition : all 1s;
        &.slide {
            background : $white;
            transform : translateY(0%);
            pointer-events : all;
        }       
    }
}

















// _______________________________
// favourite and memorable

// - checkboxes
.favourite-climb {
    @include saveRoute('\f004', $red, pulsered);
    margin-bottom : 10px;
}
.memorable-day {
    @include saveRoute('\f02d', $blue, pulseblue);
    flex-wrap : wrap;
    height : auto;
    textarea {
        margin-top : 10px;
        width : 100%;
        padding : 5px 10px;
        line-height : 1.3;
        min-height : 100px;
        border : 2px solid $grey_d;
        &:focus {
            border : 2px solid $blue;
            box-shadow : none;
            outline: none !important;
        }
    }
}



// - toggle buttons
.savedBtns {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    position : relative;
    top : 10px;
    height : 50px;
    margin : 0 auto;
    // back btn
    > button {
        @include btnType('green', 'icon');
        flex-basis : 25%;
        width : 25%;
    }
    > .savedBtnsContainer {
        display : flex;
        flex-basis : 75%;
        .favBtn {
            @include btnType('red', 'icon');
            flex-grow : 1;
        }
        .memBtn {
            @include btnType('blue', 'icon');
            flex-grow : 1;
        }
    }
}