// main logbook css

html {
    background : $yellow;
}



// main form
.search-form {
    @media (min-width: 550px) {
        max-width : 400px;
        margin : 20px auto;
    }
}


// searchbar
input {
    width : 100%;
    padding : 15px;

    &.search {
        margin : 0 auto;
        display : block;
        width : 95vw;
        text-align : center;
        outline : 0;
        border : 10px solid $grey_a;
        position : relative;
        top : 10px;
        z-index : 2;
        border-radius : 5px;
        font-size : 3rem;
        font-weight : 400;
        box-shadow : $box_inset;
        transition : 1s; // slide searchbar down on view change
        @media (min-width: 550px) {
            margin : 0;
            width : 120%;
            left : -10%;
            font-size : 4rem;
        }
    }

    &:disabled {
        color : $grey_d;
        background-color : $grey_c;
    }
}


// view mechanics
.viewbox {
    overflow : hidden;
    max-width : 90vw;
    margin : 0 auto;
    @media (min-width: 550px) {
        max-width : 100%;
    }
}


// ul container
.list-container {
    display : flex;
    flex-direction : row;
    width : 180vw;
    transition : 0.5s;
    @media (min-width: 550px) {
        width : 800px;
    }
}


// uls
.suggestions,
.climb-info {
    width : 100%;
    max-width : 90vw;
    margin : 10px 0 0;
    padding : 0;
    position : relative;
    @media (min-width: 550px) {
        max-width : 400px;
    }
}




// suggestions list items
.suggestions li {
    list-style : none;
    display : flex;
    align-items : stretch;
    margin : 0;
    padding : 15px 20px;
    background : $white;
    border-bottom : 1px solid $grey_c;
    box-shadow : $box_reg;
    transition : background 0.2s;

    > .fa {
        align-self : center;
        margin-right : 10px;
    }
    
    // after search
    &.searched {
        padding : 0;
        cursor : pointer;
        transition : linear-gradient 0.5s;
        > span {
            pointer-events : none;
            padding : 20px 10px;
            &.date,
            &.more {
                display : flex;
                align-items : center;
                justify-content : center;
            }
            &.date {
                width : 25%;
                flex-basis : 25%;
                background : $grey_c;
                color : $black;
                font-size : 1.5rem;
            }
            &.name {
                flex-basis : 65%;
            }
            &.more {
                flex-basis : 10%;
            }
        }
        .fa {
            transition : translateX 0.5s; // right arrow
        }
    }
    // after searched: hover
    &.searched:hover {
        background : $grad_hover;
        .fa {
            transform : translateX(5px); // right arrow
        }
    }
}






// calendar - within .date
// - can be used in both lists, needs to be independent
.calendar {
    display : flex;
    flex-direction: column;
    text-align : center;
    transform : rotate(-3.5deg);
    // month, day, year
    > span {
        padding : 3px 2px;
        transition : all .5s;
        &:hover {
            transform : scale(1.35) rotate(3.5deg);
            font-size : 100%;
        }
        // spread parts out
        &:hover + span {
            transform : translateY(15px);
        }
        &:hover + span + span {
            transform : translateY(30px);
        }
    }
}
// month, day, year
.month {
    background-color : $red;
    color : $white;
    font-size : 1rem;
}
.day {
    background-color : $white;
    font-size : 1.5rem;
}
.year {
    background-color : $grey_d;
    font-size : 1rem;
}








// ––––––––––––––––––––––––––––––––––––––––––––––––––
// climb info view

// climb container
// - make this similar to the above - removing absolute positioning
.climb-info {
    align-self : flex-start; // stop list from being realy high
    background : $white;
    list-style : none;
    border-bottom : 1px solid $grey_c;
    box-shadow : $box_reg;
}


// list items - each data property
.climb-info li {
    list-style : none;
    display : flex;
    align-items : stretch;
    position : relative;

    // grey back button
    .back {
        display : flex;
        justify-content : center;
        width : 25%;
        flex-basis : 25%;
        position : relative;
        padding : 10px;
        background : $grey_c;
        color : $black;
        font-size : 1.5rem;
        cursor : pointer;
        pointer-events : all;
        overflow : hidden; // contain calendar
        .fa {
            position : absolute;
            top : calc(50% - 10px);
            left : calc(50% - 10px);
            pointer-events : none;
        }
        // calendar container
        .date {
            width : 100%;
            pointer-events : none;
        }
    }

    // details column
    .climb-details {
        display : flex;
        flex-basis : 75%;
        flex-direction : column;
        padding : 10px;
        @media (min-width: 550px) {
            padding : 20px;
        }
        // icons
        div:not(.settings) .fa:first-child {
            margin-right : 10px;
            width : 15px;
        }
    }


    // within climb details

    // settings icon
    // - save the date + add extra info to it
    // - save/edit the climb details
    // - search options - search routes of same grade, at same crag, on same day
    .settings {
        position : absolute;
        top : calc(50% - 40px);
        right : 0;
        > .fa {
            text-align : center;
            width : 35px;
            height : 35px;
            padding-top : 8px;
            border-radius : 20px 0 0 20px;
            background : $blue;
            color : $white;
            cursor : pointer;
        }
    }




    .title {
        font-size : 2rem;
        text-align : center;
        margin-bottom : 10px;
        padding-bottom : 10px;
        border-bottom : 2px solid;
        @media (min-width: 550px) {
            font-size : 2.5rem;
        }
    }

    .notes {
        margin : 10px 0;
        padding : 10px 0;
        border-top : 2px solid;
        border-bottom : 2px solid;

        font-size : 1.4rem;
        max-height : 150px;
        overflow-y : scroll;
        position : relative;
        @media (min-width: 550px) {
            font-size : 1.6rem;
        }
        .fa {
            font-size : 1.6rem;
        }

        // for when it overflows:
        &.overflow {
            overflow-y : auto;
            max-height : 100%;
            padding-bottom : 0;
            > .fa {
                position : absolute;
                top : 10px;
                background : white;
                width : 25px;
                height : 25px;
                border-bottom-right-radius : 20px;
            }
            > div {
                overflow-y : scroll;
                max-height : 150px;
                text-indent : 25px;
                padding-bottom : 25px;
            }
            > .fade-out {
                position : absolute;
                bottom : 0;
                left : 0;
                right : 0;
                display : flex;
                justify-content : center;
                align-items : center;
                height : 30px;
                // background : $grad_blue;
                > .fa {
                    margin-right : 0;
                    text-indent : 0;
                    position : absolute;
                    bottom : 0;
                    text-align : center;
                    width : 50px;
                    height : 25px;
                    padding-top : 5px;
                    border-radius : 25px 25px 0 0;
                    background : rgba($black, 0.5);
                    color : $white;
                }
            }
        }
    }

    // crag
    .crag {
        margin-top : 10px;
    }

    

}